<div class="feature-page padding-section" id="key-features-section">
    <div class="feature-titles-container">
      <span class="feature-description-title description-bold ">
        <%= lib.lang.en.softwares[urlValue].software_title %>
      </span>
      <p class="feature-title">
        Key Features
      </p>
    </div>
    <div class="feature-grid">
      <div>
        <img src="<%= lib.lang.en.softwares[urlValue].key_feature_image_one %>" alt="Key Feature"/>
        <p class="feature-description">
          <span class="description-bold">
            <%= lib.lang.en.softwares[urlValue].key_feature_bold_description_one %>
          </span>
            <%= lib.lang.en.softwares[urlValue].key_feature_description_one %>
        </p>
      </div>
      <div>
        <img src="<%= lib.lang.en.softwares[urlValue].key_feature_image_two %>" alt="Key Feature"/>
        <p class="feature-description">
          <span class="description-bold">
            <%= lib.lang.en.softwares[urlValue].key_feature_bold_description_two %>
          </span>
          <%= lib.lang.en.softwares[urlValue].key_feature_description_two %>
        </p>
      </div>
      <div>
        <img src="<%= lib.lang.en.softwares[urlValue].key_feature_image_three %>" alt="Key Feature"/>
        <p class="feature-description">
          <span class="description-bold">
            <%= lib.lang.en.softwares[urlValue].key_feature_bold_description_three %>
          </span>
          <%= lib.lang.en.softwares[urlValue].key_feature_description_three %>
        </p>
      </div>
      <div>
        <img src="<%= lib.lang.en.softwares[urlValue].key_feature_image_four %>" alt="Key Feature"/>
        <p class="feature-description">
          <span class="description-bold">
            <%= lib.lang.en.softwares[urlValue].key_feature_bold_description_four %>
          </span>
          <%= lib.lang.en.softwares[urlValue].key_feature_description_four %>
        </p>
      </div>                
    </div>
  </div>