<div class="key-benefit-hero-banner padding-section" id="key-benefit-section">
    <div class="key-benefit-items"> 
        <div>
        <span class="key-benefit-hero-description">
            <%= lib.lang.en.softwares[urlValue].key_selling_points_secondary_title %>
        </span>
        <p class="key-benefit-hero-title text-start">
            <%= lib.lang.en.softwares[urlValue].key_selling_points_primary_title %>
        </p>
        </div>
    </div>        
    <div class="key-benefit-items"> 
        <div class="key-benefit-hero-description">
        <p>
            <span class="blue-tick">✓</span> 
            <%= lib.lang.en.softwares[urlValue].key_selling_points_description_one %>
        </p>
        <p>
            <span class="blue-tick">✓</span> 
            <%= lib.lang.en.softwares[urlValue].key_selling_points_description_two %>
        </p>
        <p>
            <span class="blue-tick">✓</span> 
            <%= lib.lang.en.softwares[urlValue].key_selling_points_description_three %>
        </p>
        <p>
            <span class="blue-tick">✓</span> 
            <%= lib.lang.en.softwares[urlValue].key_selling_points_description_four %>
        </p>
        </div>
    </div>
</div>